body {
  background-image: url(images/oouhut.jpeg);
  background-repeat: none;
  background-size: auto 300px;
}
img {
  height: 180px;
  width: 150px;
} 
/* #BgImageO {
  height: 600px;
  width: 600px;
} */