/* import '@fortawesome/fontawesome-free/css/all.css';
 */
body {
  background-color: rgb(255, 255, 255);
}
img {
  height: 180px;
  width: 150px;
} 
.HomeComp {
/*   background-image: url(images/DALL·E 2023-03-07 02.55.45 - 3D render of a tech guy background image.png);
 */  background-color: rgb(243, 248, 244);  
 background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* set the height of the section to the height of the viewport */
}
.sidebar {
  display: grid;
  position: fixed;
  left: 0;
  width: 100%;
  transform: translate(-100%);
}
.show-sidebar {
  background-color: black;
  transform: translate(0);
}
.logo {
  height: 30px;
  width: 20px;
}
/* .contactDiv {
  background-color: rgb(144, 193, 248);
  text-align: center;
  margin: 26px;
  padding-top: 6px;
  padding-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(1, 16, 34);
} */
#contactCompSec {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  margin: auto 100px;
}
.contactHeading {
  text-align: center;
  font-size: 40px;
  margin-top: 85px;
  margin-bottom: 10px;
}
.contactDiv {
  float: left;
  background-color: rgb(255, 255, 255);
  font-size: 37px;
  margin: auto 120px;
  height: 400px;
  margin-right: 5;
  margin-top: 90px;
}
.material-symbols-outlined {
  font-style: normal;
  font-size: 39px;  /* adjust as needed */
  line-height: 1;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(184, 25, 176);
}
.contactIcons{
  text-align: center;
  margin-top: 28px;
}
.subs {
  margin: 0
}
.contactFormDiv {
  background-color: rgb(148, 33, 33);
  float: left;
  margin-left:0;
  margin-top: 50px;
  text-align: center;
}
input, textarea {
  background-color: rgb(247, 239, 243);
  border: none;
  border-radius: 8px;
  padding: 16px 4px;
  padding-left: 14px;
  margin: 11px;
  margin-top: 0;
  width: 350px;
}
#contactbtn {
  background-color: rgb(184, 25, 176);
  border: none;
  border-radius: 6px;
  padding: 12px 32px;
  margin: 8px;
  margin-top: 19px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 40px
}