body {
    background-color:rgb(170, 136, 136);
    padding-top: 60px;
}
#main {
    text-align: center;
    background: rgb(41, 39, 39);
      margin: auto;
      padding-top: 20px;
      padding-right: 50px;
      padding-left: 50px;
      padding-bottom: 20px;
      max-width: 600px;
      box-shadow: 0 0 1em #222;
      border-radius: 2px;
}
#ansText {
    font-size: 30px;
    margin: 0;
}
#hs {
    text-align: left;
}
#gameScore {
    text-align: left;
}
#scoreT p, h3{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 2px;
}
#nums p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
    padding: 20px;
}
#res p{
    display: inline-block;
    font-size: 25px;
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
}
.p {
    border: 5px solid yellow;
}
#button {
    padding: 5px;;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(230, 215, 15);
    font-size: 20px;
    color: black;
}
#button:hover {
    cursor: pointer;
}
#reset {
    padding: 5px;;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(230, 215, 15);
    font-size: 20px;
    color: black;
}
#reset:hover {
    cursor: pointer;
}
#sign {
    width: 8%;
    height: 26px;
}
#answer {
    width: 10%;
    height: 35px;
}