body {
    background-color:rgb(218, 177, 219);
    padding-top: 40px;
}
p, h1, h3, li {color:black;}
#main {
    background: rgb(255, 255, 255);
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      padding-right: 50px;
      padding-left: 50px;
      padding-bottom: 20px;
      max-width: 600px;
      box-shadow: 0 0 1em #222;
      border-radius: 2px;
      text-align: center;
}
#rules {
    font-size: 20px;
}
#rules:hover {
    font-size: 30px;
}
a{display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 600;
    background-color: yellow;
    font-family: 'Poppins', sans-serif;
    border: 2px solid purple;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    animation-name: learn;
    animation-duration: 3s;
    position: relative;}
    @keyframes learn{
        from{
            left: 0px;
             background-color: yellow;
             font-family: 'Poppins', sans-serif;
             border: 2px solid purple;
             padding: 10px 30px;
             border-radius: 25px;
            }
        to{
            left: 180px;
            background-color: purple;
            font-family: 'Poppins', sans-serif;
            border: 2px solid yellow;
            padding: 10px 30px;
            border-radius: 25px;}
            }
a:hover{
    background-color: purple;
    color: white;
    border-color: yellow;}