@media only screen and (min-width: 1200px) {
  body {
    padding-left: 120px;
    padding-right: 120px;
  }
  /*h3{
    font-size: 51px;
  }
  #aboutPara {
    width: 90%;
  }*/
}
body {
  background-color: rgb(10, 10, 10);
  color: rgb(218, 205, 205);
}
.topnav {
  background-color: rgb(10, 10, 10);
  border-radius: 39px;
  position: relative;
  float: right;
  display: block;
}
.topnav.responsive {
  margin-right: 40px;
}
.active {
  background-color: rgb(15, 14, 14);
  color: white;
  display: none;
  padding-left: 17px;
  padding-right: 17px;
}
.topnav.responsive a {
  display: block;
  margin: 5px;
}
.topnav a {
  color: rgb(242, 242, 242);
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 9px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
#icon {
  float: right;
  background-color: rgb(15, 14, 14);
  padding: 12px 13px;
  color: white;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  margin-top: 9px;
  margin-right: 9px;
  border-radius: 9px;
}
#icon {
  top: 0; //start here!
}
#no2 {
  margin-top: 140px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 40px;
  max-width: 1400px;
}
h3, h2 {
  font-size: 41px;
  margin: 0;
}
#aboutSection{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1400px;
  border-radius: 9px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
#aboutDiv{
  border-left: 2px solid rgb(218, 205, 205);
  padding-left: 40px;
  font-size: 28px;
}
#aboutPara {
  width: 90%;
}
#socialsLink{
  color: beige;
  font-size: 20px;
  padding-bottom: 25px;
}
img {
  width: 350px;
  height: 318px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(204, 199, 199);
  cursor: pointer;
}
aside {
  float: right;
}