body {

    background-color: white;
    font-size: 10px;
    margin: 0, auto;
    padding-top: 140px;
    }
    form {
      background: rgb(159, 91, 185);
      margin: 50px, 40px;
      padding-right: 50px;
      padding-left: 50px;
      max-width: 400px;
      box-shadow: 0 0 1em #222;
      border-radius: 2px;
      
  }
      h2 {
        margin:0 0 50px 0;
        padding:10px;
        text-align:center;
        font-size:30px;
        font-family: serif;
        border-bottom:solid 2px #a8c915;
      }
      input {
        display: block;
        width: 100%;
        margin:0;
        color: black;
        font-size: 15px;
        border: none;
        border-radius: 3px;
        line-height: 3px;
        background-color: white;
        border-bottom: 1px solid #f4f1f7;
      }
      input:hover {
        font-size: 25px;
    }
    #button {
      padding: 10px;;
      padding-right: 40px;
      padding-left: 40px;
      border-radius: 11px;
      background-color: rgb(207, 159, 255);
      font-size: 20px;
      color: black;
  }
  #button:hover {
      background-color: rgb(15, 15, 15);
      animation: alternate;
  }
  .ent {
    position: relative;
    display: inline-block;
  }