body {
  background-color: rgb(255, 255, 255);
}
.first {
  background-color: rgb(144, 193, 248);
  text-align: center;
  margin: 26px;
  padding-top: 6px;
  padding-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(1, 16, 34);
}
input {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  padding: 9px 0;
  padding-left: 14px;
  margin: 3px;
  margin-top: 30px;
  width: 140px;
}
button {
  background-color: rgb(219, 53, 53);
  border: none;
  border-radius: 6px;
  padding: 8px 85px;
  margin: 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
img {
  height: 180px;
  width: 150px;
  border-radius: 100px;
}
.second {
  background-color: rgb(144, 193, 248);
  margin: 26px;
  padding-left: 26px;
  padding-top: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(1, 16, 34);;
}
.skills {
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 8px;
  margin: 3px;
  margin-top: 30px;
  width: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}
.flex {
  background-color: rgb(144, 193, 248); 
  padding-top: 0;
  padding-left: 0;
}