body {
    background-color: powderblue;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#para {
    font-size: larger;
}
form {
    background-color: beige;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 600px;
    font-size: large;
    text-align: center;
}
#submit {
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 11px;
      background-color: rgb(18, 22, 24);
      font-size: 20px;
      color: white;
}
#messagePassed {
    font-size: 30px;
}

