body {
    background: rgb(168, 158, 67);
    font-family: 'Montserrat', sans-serif;
  }
  .chessboard {
      width: 470px;
      height: 0px;
      margin: 20px;
      border: 10px solid rgb(185, 173, 6);
      border-radius: 4px;
      background: black;
      box-shadow:  5px 5px 8px #ca34b1,
                    -5px -5px 8px #d69696;
  }
  .div {
    margin-left: auto;
    margin-right: auto;
  }
  .black {
      width: 180px;
      height: 100px;
      background-color: rgb(19, 17, 17);
        font-size:50px;
      text-align:center;
      display: table-cell;
      vertical-align:middle;
  }
  .white {
      width: 300px;
      height: 100px;
      background-color: rgb(249, 250, 244);
      font-size:50px;
      text-align:center;
      display: table-cell;
      vertical-align:middle;
  }