body {
    background-color: rgb(156, 156, 202);
    padding-top: 10px; 
    color: rgb(235, 233, 240);
}
#main {
    text-align: center;
    background: rgb(53, 53, 65);
    margin: auto;
    padding-top: 10px; 
    padding-bottom: 20px; 
    max-width: 700px;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0 0 35px rgb(0, 0, 0);
}
#article, .times {
    display: inline-block;
}
#countdown-time {
    background: rgb(156, 156, 202);
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    color: black;
    border-radius: 7px;
}
.times {
  /*make responsive and adjust values back for pc*/
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: rgb(53, 53, 65);
    color: rgb(235, 233, 240);;
    border-radius: 7px;
}
#expired-text {
    margin: auto;
    background-color: rgb(53, 53, 65);
    color: rgb(235, 233, 240);;
    font-size: 20px;
    padding-bottom: 5px;
}
h1 {
    padding: 0px;
    margin: 0;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#deadline-details {
    font-size: 27px;
}
#userDeadline {
    font-size: 25px;
}
input {
    font-size: 20px;
    width: 12%;
    background-color: rgb(53, 53, 65);
    color: rgb(235, 233, 240);
}
h4 {
    font-size: 70px;
    margin: 0px;
}
.button {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgb(66, 66, 75);
    font-size: 20px;
    margin-top: 10px;
    color: white;
    /*margin-left: 10px;*/
}
.button:hover {
    background-color: rgb(15, 15, 15);
    cursor: pointer;
}