body {
  background-color: white;
  font-size: 10px;
  margin: 0, auto;
  padding-top: 100px;
}
form {
  background: rgb(165, 83, 197);
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 500px;
  box-shadow: 0 0 100px rgb(220, 220, 228);
  border-radius: 6px;
  text-align: center;
}
h2 {
  margin:0 0 50px 0;
  padding:10px;
  font-size:30px;
  font-family: serif;
  border-bottom:solid 2px #070208;
}
input {
  display: block;
  width: 50%;
  margin: auto;
  color: black;
  font-size: 25px;
  border: none;
  border-radius: 7px;
  line-height: 3px;
  text-align: center;
  background-color: rgb(201, 187, 238);
  border-bottom: 3px solid #0c0c0c;
}
#button {
  margin-top: 10px;
  padding: 5px;;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 11px;
  background-color: rgb(200, 176, 206);
  font-size: 20px;
  color: black;
}
#button:hover {
  font-size: 23px;
  cursor: pointer;
}